In [8]:
import pandas as pd

## Merge Datasets

In [9]:
df1 = pd.read_excel("active_listening_skillset.xlsx")
df2 = pd.read_excel("math_skillset.xlsx")
df3 = pd.read_excel("speaking_skillset.xlsx")
df4 = pd.read_excel("writing_skillset.xlsx")
df5 = pd.read_excel("reading_comprehension_skillset.xlsx")
df6 = pd.read_excel("science_skillset.xlsx")

In [10]:
df_final = df1.append(df2,ignore_index=True).append(df3,ignore_index=True).append(df4,ignore_index=True).append(df5,ignore_index=True).append(df6,ignore_index=True)

/var/folders/35/qlk674y12zz_m3zs5h1ht6_c0000gn/T/ipykernel_5503/1525006309.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_final = df1.append(df2,ignore_index=True).append(df3,ignore_index=True).append(df4,ignore_index=True).append(df5,ignore_index=True).append(df6,ignore_index=True)

## Explore Final Datasets

In [11]:
df_final.drop(columns='Unnamed: 0',inplace=True)
df_final.head()

,id,skill_name,skill_set
0,23-1023.00,Data base user interface and query software,['Online databases']
1,23-1023.00,Document management software,"['Adobe Systems Adobe Acrobat', 'Hyland OnBase..."
2,23-1023.00,Electronic mail software,"['Email software', 'Microsoft Outlook']"
3,23-1023.00,Information retrieval or search software,"['LexisNexis', 'Thomson Reuters Westlaw']"
4,23-1023.00,Instant messaging software,['']

In [12]:
df_final.shape

(66354, 3)

In [16]:
df_final.groupby(df_final['skill_name']).count().sort_values(by="skill_set",ascending=False)

                                                      id  skill_set
skill_name
Spreadsheet software                                4290       4290
Word processing software                            4158       4158
Office suite software                               4152       4152
Electronic mail software                            3492       3492
Presentation software                               3372       3372
...                                                  ...        ...
Computer aided design CAD and computer aided ma...     6          6
Voice synthesizer and recognition software             6          6
Bridge software                                        6          6
Wireless software                                      6          6
Fax software                                           6          6

[135 rows x 2 columns]

In [21]:
skill_name = list(set(list(df_final['skill_name'])))
len(skill_name)

135

In [18]:
df_final.groupby([df_final['skill_name'],df_final['skill_set']]).count().sort_values(by="id",ascending=False)

                                                                                                  id
skill_name                                  skill_set
Spreadsheet software                        ['Microsoft Excel']                                 4050
Office suite software                       ['Microsoft Office']                                3786
Word processing software                    ['Microsoft Word']                                  3234
Presentation software                       ['Microsoft PowerPoint']                            3048
Internet browser software                   ['Web browser software']                            2106
...                                                                                              ...
Data base user interface and query software ['Microsoft Access', 'Oracle software', 'Struct...     6
                                            ['Microsoft Access', 'PTS Solutions WinJuris Co...     6
                                            ['Microsoft Access', 'Propertyware', 'Yardi sof...     6
                                            ['Microsoft Access', 'QSR International NVivo',...     6
Enterprise resource planning ERP software   ['Oracle Fusion Applications']                         6

[3698 rows x 1 columns]

In [19]:
df_final[df_final['skill_name']=="Spreadsheet software"].groupby(df_final['skill_set']).count().sort_values(by="id",ascending=False)

,id,skill_name,skill_set
skill_set,,,
['Microsoft Excel'],4050,4050,4050
"['IBM Lotus 1-2-3', 'Microsoft Excel']",102,102,102
"['Google Sheets', 'Microsoft Excel']",36,36,36
"['Corel QuattroPro', 'IBM Lotus 1-2-3', 'Microsoft Excel']",24,24,24
"['Apple AppleWorks', 'Corel QuattroPro', 'IBM Lotus 1-2-3', 'Microsoft Excel']",12,12,12
"['Apple iWork Numbers', 'Microsoft Excel']",12,12,12
[''],6,6,6
"['EZAnalyze', 'Microsoft Excel']",6,6,6
"['Microsoft Excel', ""Moody's KMV FAMAS""]",6,6,6
"['Microsoft Excel', 'PipingOffice']",6,6,6
"['Microsoft Excel', 'Restaurant Operations & Management Spreadsheet Library']",6,6,6
"['Microsoft Excel', 'Rockport Integrated Excel Underwriting']",6,6,6
"['Microsoft Excel', 'Spreadsheet applications']",6,6,6
"['Microsoft Excel', 'Spreadsheet programs']",6,6,6
"['Microsoft Excel', 'Thomson GoSystem MyTaxInfo']",6,6,6

## Merge On Skill_name Basis

In [51]:
merged_skillset_list = []
for single_skill_name in skill_name:
    non_rep_skill = []
    df_temp = df_final[df_final['skill_name']==single_skill_name]
    for single_skill in df_temp['skill_set']:
        non_rep_skill = list(set(non_rep_skill+single_skill.strip("[").strip("]").split(",")))
    non_rep_skill = [i for i in non_rep_skill if i!=""]
    non_rep_skill_wopunc = [i.strip().strip("'") for i in non_rep_skill]
    merged_skillset_list.append(non_rep_skill_wopunc)

In [52]:
non_rep_df = pd.DataFrame({"skill_name":skill_name,"skill_set":merged_skillset_list})
non_rep_df.head(5)
non_rep_df.tail(5)

,skill_name,skill_set
130,Transaction security and virus protection soft...,"[Root kit detection software, McAfee VirusScan..."
131,Accounting software,"[XIFIN, MYOB BusinessEssentials, Quicken, Delt..."
132,Procurement software,"[Vision Software, eBuy, 1ST Pricing Window & D..."
133,Pattern design software,"[MatchWare MindView, Block diagram software, O..."
134,Library software,"[RCL Software Media Library Manager, SirsiDyni..."

In [53]:
non_rep_df.skill_set[2]

['Measure Square FloorEstimate Pro',
 'Depiction Software Deco-Con Estimator',
 'FastEST FastPipe',
 'Sona Systems Experiment Management System',
 'Central Desktop',
 'Creative Research Systems The Survey System',
 'Experience in Software Webplanner',
 'Canyon Solutions Jcats',
 'Construction Software Center EasyEst',
 'HCSS HeavyBid',
 'Coeus',
 'Craftsman CD Estimator',
 'Thomson Reuters Elite ProLaw',
 'SolidWorks Enterprise PDM',
 'Oracle Primavera Enterprise Project Portfolio Management',
 'Atlassian JIRA',
 'Microsoft Project',
 'Khameleon',
 'AquaSoft Farm Manager',
 'SaaS SurveyMonkey',
 'Qualtrics Insight',
 'Eloquent Systems Eloquent',
 'Legal Files software',
 'Estimating software',
 'On Center On-Screen Takeoff',
 'Project scheduling software',
 'Nebu Dub InterViewer',
 'Microsoft Team Foundation Server',
 'Resource Ordering and Statusing System ROSS',
 'Swan River Software Estimiser Pro',
 'Practice Technology Prevail',
 'PlanSwift',
 'Piping construction costs estimation software',
 'Telluride Software Classic Trak-It',
 'Project estimation software',
 'DevWave Estimate Works',
 'CPR Software FloorCOST Estimator for Excel',
 'Oracle Primavera Systems',
 'VirtualBoss',
 'Microsoft Teams',
 'Dexter + Cheney Spectrum Construction Software',
 'Active Network EventRegister',
 'Total quality management TQM software',
 'Oracle Primavera Enterprise Project Portfolio Management',
 'Project data integration software',
 'Sage Construction Anywhere',
 'Desktop Technologies NewsBoss',
 'bMobile Technology Route Manager',
 'Alert Technologies OpsCenter',
 'Project planning software',
 'National Center for Crisis and Continuity Coordination NC4 E Team',
 'Upland Consulting Group Repair Traq',
 'Web-Est estimating software',
 'Tyler Technologies Odyssey Case Manager',
 'Cost estimating software',
 'Vision InfoSoft Plumbing Bid Manager',
 'Microsoft Teams',
 'Job tracking software',
 'Airdata',
 'Evergreen Technology Eagle Bid Estimating',
 'Contract management software',
 'eTakeoff',
 'Confluence',
 'Mavenlink',
 'etouches',
 'SoftPro real estate closing and title software',
 'Cost estimating software',
 'Project analysis and costing software',
 'BioEx Systems Fitness Maker',
 'On Center Quick Bid',
 'Virtual Case Management',
 'Confluence',
 'App Software Associations AppTrak.net',
 'Galorath SEER-SEM',
 'Galorath SEER',
 'Case management software',
 'ReServe Interactive',
 'WorkingArtist Systems WorkingArtist',
 'Google Classroom',
 'Quantum Software Solutions Quantum Project Manager',
 'HCSS HeavyJob',
 'Turtle Creek Software Goldenseal',
 'Measure Square FloorEstimate Pro',
 'The Gordian Group PROGEN Online',
 'Online River Software Personal Trainer Pro',
 'ComputerEase construction accounting software',
 'Ellucian Degree Works',
 '"Tradesman\'s Software Master Estimator"',
 'McCabe Software TRUEchange',
 'CPR Visual Estimator',
 'Perseus SurveySolutions',
 'HCSS HeavyJob',
 'SpecsInTact',
 'Process reengineering software',
 'Palm Pal Transana',
 'Planstone',
 '',
 'Basecamp',
 'Bentley ProjectWise',
 'Bosch Punch List',
 'GrenSoft WorkTracer',
 'New Dawn Technologies JustWare Court',
 'Crones & Associations Project Tracker Pro',
 'Estimating software',
 'bMobile Technology Sales',
 'Pacific Solutions FloorRight',
 'Syscon Court Clerk',
 'Bentley Systems ProjectWise',
 'ClassApps SelectSurveyASP',
 'Realization Streamliner',
 'Craftsman CD Estimator',
 'Incident command system ICS software',
 'Enabl-u Technologies APIS',
 'PTC Pro/INTRALINK',
 'FuneralKiosk',
 'Yield management systems',
 'Emergency Services Integrators ESi WebEOC',
 'FIRST Flooring',
 'Oracle JD Edwards EnterpriseOne Project Management',
 'Daystar iStructural.com',
 'Computer estimation software',
 'RISA Technologies RISAMasonry',
 'Productivity software',
 'Maintenance record software',
 'Atlassian JIRA',
 'Microsoft Project',
 'Google Classroom',
 'Investigation management software',
 'SAP Customs Management',
 'Oracle Primavera P6 Enterprise Portfolio Project Management',
 'ACI TaskTracker']

In [54]:
non_rep_df.to_excel("final_skill_table.xlsx")